@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color_text-primary: #1f0042;
    --color_text-secundary: #101e2c;
    --color_text-tertiary: #002558;
    --main_color-primary: #002558;
    --main_color-secundary:#f3a424;
    --background-color: #fafbfe;
    --lowText_font_size: 16px;
    --text_size_title: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}
.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo img{
    width: 100px;
}
.menu{
    display: flex;
    align-items: center;
}
.menu nav{
    margin: 0px 20px;
}
.menu nav ul{
    display: flex;

}
.menu nav ul li {
    list-style: none;
    margin: 20px 16px;
}
.menu nav ul li a{
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    position: relative;
}
.menu nav ul li a:hover{
    color: white;
}
.btn_quote{
    display: block;
    padding: 8px 40px;
    border: 2px solid var(--color_text-primary);
    border-radius: 8px;
    font-weight: 500;
    color: var(--color_text-tertiary);
    margin: 0px 20px;
    transition: all 300ms;
}
.btn_quote:hover{
    color: white;
    background: var(--color_text-primary);
}
.menu .social_media{
    margin: 0px 10px;
}
.menu .social_media a{
    margin: 0px 4px;
}
.menu .social_media img{
    width: 30px;
}

/*portada inicio*/

.container_cover{
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--main_color-secundary);
}
.cover{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.text_cover{
    width: 100%;
    padding-right: 150px;
}
.text_cover h1{
    font-size: 50px;
    color: var(--color_text-secundary);
}
.text_cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}
.btn_text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
}
.btn_text:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--color_text-tertiary);
}
.image_cover{
    width: 100%;
}
.image_cover img{
    width: 650px;
}

/*Estios generales cards*/

.container__card-primary{
    padding-top: 100px;
}
.card__primary{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}
.text__card-primary{
    max-width: 800px;
    margin: auto;
}
.text__card-primary p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}
.text__card-primary h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}
.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.box__card-primary{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}
.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}
.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;color: #000000;
}

.box__card-primary p{
    margin-top: 20px;
}
.box__card-primary img{
    width: 50px;
    height: 50px;
}

.container__card-primarytheer{
    padding-top: 30px;
    background-color: #f0f0f0;
}
.card__primarytheer{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}
.text__card-primarytheer{
    max-width: 800px;
    margin: auto;
}
.text__card-primarytheer p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}
.text__card-primarytheer h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
}
.container__box-cardPrimarytheer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;

}
.box__card-primarytheer1{
    background-image: url(/img/cover/moto1.jpg);
    background-size: cover;
    width: 500px;
    height: 300px;
    
}
.box__card-primarytheer:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}
.box__card-primarytheer h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}

.box__card-primarytheer p{
    margin-top: 20px;
}
.box__card-primarytheer img{
    width: 400px;
    height: 400px;
}
/*Sobre Nosotros*/

.container__about{
    padding: 100px 0px;
    background:#f8f6f2;
    margin-top: 100px;
}

.about{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__about{
    width: 100%;
    padding-right: 40px;
}

.text__about h1{
    color: var(--color_text-secundary);
    font-weight: 600;
}

.text__about p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-tertiary);
}

.image__about{
    width: 100%;
    display: flex;
}

.image__about img{
    width: 300px;
}

/*End Sobre Nosotros*/

/*Servicios*/

.card__service img{
    width: 50px;
}

.card__service i{
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--color_text-primary);
}

/*End Servicios*/

/*Proyectos*/

.container__proyect{
    padding: 100px 0px;
    background: var(--background-color);
    margin-top: 100px;
}

.container__card-proyect {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__proyect {
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #e3f4f5;
    text-align: left;
    background-size: cover;
    background-position: center;
}

.card__proyect h2, .card__proyect p {
    margin: 0;
}

.card__proyect:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

/*End Proyectos*/

/*equipo*/

.container__equipo{
    padding: 100px 0px;
    background-color: #ffffff;
    margin-top: 100px;
}

.container__card-equipo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__equipo {
    width: 500px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #e3f4f5;
    text-align: left;
    background-size: cover;
    background-position: center;
}

.card__equipo h2, .card__equipo p {
    margin: 0;
}

.card__equipo:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

/*End equipo*/

/*formulario*/
.text__form{
    max-width: 800px;
    margin: auto;
}
.text__form p{
    color: var(--color_text-primary);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}
.text__form h1{
    font-size: var(--text_size_title);
    font-weight: 600;
    color: var(--color_text-secundary);
    text-align: center;
}
.form{
    background-color: #fff4ef;
}

.formulario{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/cover/motoR1.jpg);
    margin-top: 50px;
}

form{
    padding: 70px 60px;
    border-radius: 20px;
    width: 500px;
    margin-left: 440px;
    box-shadow: 0 0 20px rgba(255, 183, 50, 0.897);
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    display: flex;
}

h2{
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}

label{
    color: #e4e6fd;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffdc90;
    border: #f0f0f0;
    color: #002558;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #000000;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: #ff9100;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #dfaa49;
    box-shadow:0 0 20px rgba(254, 174, 0, 0.4);
    cursor: pointer;
}

.btn:hover{
    background-color:#f1b307;
}

/*End formulario*/

/*mapa*/
.mapa{
    margin-top: 50px;
    margin-bottom: 100px;
}
/*End mapa*/


/*Footer*/

section{
    padding: 80px 13% 70px;

}
.footer{
    background-color: #002558;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
   
}

.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    margin-bottom: 16px;
}

.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    
    transition: all .40s ease;
    text-decoration: none;
}


























/*End Footer*/
